<div
  fxLayout="column"
  class="components-container-gt-xs"
  [ngClass]="{ xs: 'components-container-xs' }"
  fxLayoutGap="20px"
>
  <div class="button-high-container" *ngIf="department$ | async as department">
    <mat-toolbar>
      <span>{{ department.deptName | uppercase }}</span>
    </mat-toolbar>
    <form [formGroup]="form">
      <mat-stepper [linear]="isLinear" #stepper>
        <mat-step
          [stepControl]="form.controls.patientDetails"
          label="Patient Details"
        >
          <ng-template matStepLabel>Patient Details</ng-template>
          <app-patient-details-form
            [form]="form.controls.patientDetails"
            [loading]="
              (loadingPatients$ | async) || (loadingTherapists$ | async)
            "
            [patientOptions]="patientOptions$ | async"
            [therapistOptions]="therapistOptions$ | async"
            (patientSearch)="onPatientSearch($event)"
            (patientSelect)="onPatientSelect($event, department)"
            (therapistSearch)="onTherapistSearch($event)"
            (therapistSelect)="onTherapistSelect($event)"
            (reset)="onReset()"
            (next)="onNext()"
          ></app-patient-details-form>
        </mat-step>

        <mat-step [stepControl]="form.controls.subjective" label="Subjective">
          <ng-template matStepLabel (click)="onNavigate($event)"
            >Subjective</ng-template
          >
          <app-subjective-form
            [form]="form.controls.subjective"
            (previous)="onPrevious()"
            (next)="onNext()"
          ></app-subjective-form>
        </mat-step>

        <mat-step [stepControl]="form.controls.objective" label="Objective">
          <ng-template matStepLabel>Objective</ng-template>
          <app-objective-form
            [form]="form.controls.objective"
            (previous)="onPrevious()"
            (next)="onNext()"
          ></app-objective-form>
        </mat-step>

        <mat-step [stepControl]="form.controls.objective" label="Assessment">
          <ng-template matStepLabel>Assessment</ng-template>
          <app-objective-form
            [isAssessment]="true"
            [form]="form.controls.objective"
            (previous)="onPrevious()"
            (next)="onNext()"
          ></app-objective-form>
        </mat-step>

        <mat-step [stepControl]="form.controls.planOfTreatment" label="Plan">
          <ng-template matStepLabel>Plan</ng-template>
          <app-plan-of-treatment-form
            [isAssessment]="true"
            [form]="form.controls.planOfTreatment"
            (previous)="onPrevious()"
            (submit)="onSubmit()"
          ></app-plan-of-treatment-form>
        </mat-step>
      </mat-stepper>
    </form>
  </div>
</div>
