<form [formGroup]="form">
  <ng-template matStepLabel>Patient Details</ng-template>
  <!-- #enddocregion label -->

  <table>
    <tr>
      <td>
        <mat-form-field>
          <mat-label>Patient Name</mat-label>
          <input matInput formControlName="firstCtrl" value="Patient Name" />
        </mat-form-field>
      </td>

      <td>
        <mat-form-field>
          <mat-label> Height</mat-label
          ><input matInput formControlName="firstCtrl" disabled />
        </mat-form-field>
      </td>

      <td>
        <mat-form-field>
          <mat-label> Weight</mat-label
          ><input
            matInput
            formControlName="firstCtrl"
            disabled
            value="Gender"
          />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-label> BMI</mat-label
          ><input
            matInput
            formControlName="firstCtrl"
            disabled
            value="Nationality"
          />
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td><mat-panel-title> Date Of Assessment</mat-panel-title></td>
      <td>
        <mat-form-field class="example-full-width1">
          <mat-label> Date Of Assessment</mat-label>
          <input
            matInput
            formControlName="firstCtrl"
            disabled
            value="Date Of Assessment"
          />
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td><mat-panel-title> Sports Engaged In</mat-panel-title></td>
      <td>
        <mat-form-field class="example-full-width1">
          <mat-label> Sports Engaged In</mat-label>
          <input
            matInput
            formControlName="firstCtrl"
            disabled
            value="Sports Engaged In"
          />
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-panel-title> Level of Involvement</mat-panel-title>
      </td>
      <td>
        <mat-form-field class="example-full-width1">
          <mat-label> Level of Involvement</mat-label>
          <input
            matInput
            formControlName="firstCtrl"
            disabled
            value="Level of Involvement"
          />
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-panel-title> Club/City/Country/Location</mat-panel-title>
      </td>
      <td>
        <mat-form-field class="example-full-width1">
          <mat-label>Club/City/Country/Location</mat-label>
          <input
            matInput
            formControlName="firstCtrl"
            disabled
            value="Club/City/Country/Location"
          />
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td><mat-panel-title> Coach</mat-panel-title></td>
      <td>
        <mat-form-field class="example-full-width1">
          <mat-label> Coach</mat-label>
          <input matInput formControlName="firstCtrl" disabled value=" Coach" />
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td><mat-panel-title> S&C</mat-panel-title></td>
      <td>
        <mat-form-field class="example-full-width1">
          <mat-label> S&C</mat-label>
          <input matInput formControlName="firstCtrl" disabled value=" S&C" />
        </mat-form-field>
      </td>
    </tr>
  </table>

  <div mat-dialog-actions align="end">
    <button
      mat-button
      mat-raised-button
      color="primary"
      style="margin-right: 16px"
      (click)="onReset()"
    >
      Reset
    </button>
    <button mat-button mat-raised-button color="primary" (click)="onNext()">
      Next
    </button>
  </div>
</form>
