<form [formGroup]="form">
  <table class="example-full-width">
    <tr>
      <td>
        <mat-form-field>
          <mat-label>Patient Id</mat-label>
          <input
            type="text"
            placeholder="Patient Id"
            aria-label="Patient Id"
            matInput
            required
            formControlName="patientId"
            [matAutocomplete]="auto"
            (keyup)="onPatientSearch($event.target.value)"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="onPatientSelect($event)"
          >
            <mat-option
              *ngFor="let option of patientOptions ?? []"
              [value]="option"
            >
              {{ option.firstName }} {{ option.lastName }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </td>

      <td>
        <mat-form-field>
          <mat-label>Patient Name</mat-label
          ><input readonly matInput formControlName="patientName" />
        </mat-form-field>
      </td>

      <td>
        <mat-form-field>
          <mat-label>Age</mat-label
          ><input readonly matInput formControlName="age" />
        </mat-form-field>
      </td>

      <td>
        <mat-form-field>
          <mat-label>Gender</mat-label>
          <mat-select disabled formControlName="gender">
            <mat-option
              *ngFor="let gender of genderOptions"
              [value]="gender.value"
              >{{ gender.label | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>

      <td>
        <mat-form-field>
          <mat-label>Nationality</mat-label>
          <input readonly matInput formControlName="nationality" />
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <mat-form-field>
          <mat-label>Preferred Language</mat-label>
          <mat-select formControlName="language" disabled>
            <mat-option
              *ngFor="let language of languageOptions"
              [value]="language.value"
              >{{ language.label | titlecase }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <mat-panel-title>Diagnosis</mat-panel-title>
      </td>
      <td>
        <mat-form-field class="example-full-width1">
          <mat-label>Diagnosis</mat-label>
          <input matInput formControlName="diagnosis" placeholder="Diagnosis" />
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <mat-panel-title>Vitals Last Recorded</mat-panel-title>
      </td>
      <td>
        <mat-form-field class="example-full-width1">
          <mat-label>Vitals Last Recorded</mat-label>
          <input
            matInput
            formControlName="vitalsLastRecorded"
            placeholder="Vitals Last Recorded	
          "
          />
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <mat-panel-title>Referring Physician</mat-panel-title>
      </td>
      <td>
        <mat-form-field class="example-full-width1">
          <mat-label>Referring Physician</mat-label>
          <input
            matInput
            formControlName="referringPhysician"
            value="Referring Physician"
          />
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <mat-panel-title>Mode Of Payment</mat-panel-title>
      </td>
      <td>
        <mat-form-field class="example-full-width1">
          <mat-label>Mode Of Payment</mat-label>
          <mat-select formControlName="modeOfPayment">
            <mat-option
              *ngFor="let modeOfPayment of modeOfPaymentOptions"
              [value]="modeOfPayment.value"
              >{{ modeOfPayment.label | titlecase }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td><mat-panel-title>Treating Therapist</mat-panel-title></td>
      <td>
        <mat-form-field>
          <mat-label>Treating Therapist</mat-label>
          <input
            type="text"
            placeholder="Treating Therapist"
            aria-label="Treating Therapist"
            matInput
            required
            formControlName="treatingTherapist"
            [matAutocomplete]="auto2"
            (keyup)="onTherapistSearch($event.target.value)"
          />
          <mat-autocomplete
            #auto2="matAutocomplete"
            (optionSelected)="onTherapistSelect($event)"
          >
            <mat-option
              *ngFor="let option of therapistOptions ?? []"
              [value]="option"
            >
              {{ option.firstName }} {{ option.lastName }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <div mat-dialog-actions align="end">
    <button
      mat-button
      mat-raised-button
      color="primary"
      style="margin-right: 16px"
      (click)="onReset()"
    >
      Reset
    </button>
    <button
      mat-button
      mat-raised-button
      color="primary"
      [disabled]="form?.invalid"
      (click)="onNext()"
    >
      Next
    </button>
  </div>
</form>
