<div
  fxLayout="column"
  fxFlexFill
  fxLayoutAlign="center center"
  style="
    background-image: url('../../../assets/login11.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  "
>
  <div class="mat-elevation-z4">
    <mat-card>
      <mat-card-title
        >Register
        <a class="redirect" [routerLink]="['/login']"
          >Already have an account?</a
        >
      </mat-card-title>
      <mat-card-content>
        <form
          fxLayout="column"
          fxLayoutAlign="start stretch"
          [formGroup]="form"
          (ngSubmit)="register()"
        >
          <mat-form-field class="full-width">
            <input
              type="text"
              id="firstName"
              class="input"
              placeholder="Please enter first name"
              formControlName="firstName"
              required
              matInput
            />
          </mat-form-field>
          <div *ngIf="formErrors.firstName" class="help is-danger">
            {{ formErrors.firstName }}
          </div>

          <mat-form-field class="full-width">
            <input
              type="text"
              id="middleName"
              class="input"
              placeholder="Please enter middle name"
              formControlName="middleName"
              matInput
            />
          </mat-form-field>

          <mat-form-field class="full-width">
            <input
              type="text"
              id="lastName"
              class="input"
              placeholder="Please enter last name"
              formControlName="lastName"
              matInput
            />
          </mat-form-field>

          <mat-form-field class="full-width">
            <input
              matInput
              readonly="true"
              placeholder="Please enter date of birth"
              [matDatepicker]="dobPicker"
              formControlName="dateOfBirth"
              (click)="dobPicker.open()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="dobPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #dobPicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Please select gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option
                *ngFor="let gender of genderOptions"
                [value]="gender.value"
                >{{ gender.label | titlecase }}</mat-option
              >
            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Please select preferred language</mat-label>
            <mat-select formControlName="language">
              <mat-option
                *ngFor="let language of languageOptions"
                [value]="language.value"
                >{{ language.label | titlecase }}</mat-option
              >
            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Please select nationality</mat-label>
            <mat-select formControlName="nationality">
              <mat-option
                *ngFor="let nationality of nationalityOptions"
                [value]="nationality.value"
                >{{ nationality.label | titlecase }}</mat-option
              >
            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input
              type="email"
              id="email"
              class="input"
              placeholder="Please enter your email"
              formControlName="email"
              required
              matInput
            />
          </mat-form-field>
          <div *ngIf="formErrors.email" class="help is-danger">
            {{ formErrors.email }}
          </div>
          <mat-form-field class="full-width">
            <input
              type="password"
              id="password"
              class="input"
              placeholder="please  enter your password"
              formControlName="password"
              required
              matInput
            />
          </mat-form-field>
          <div *ngIf="formErrors.password" class="help is-danger">
            {{ formErrors.password }}
          </div>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!form.valid"
          >
            Register
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
