<div
  fxLayout="column"
  fxFlexFill
  fxLayoutAlign="center center"
  style="
    background-image: url('../../../assets/login11.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  "
>
  <div class="mat-elevation-z4">
    <mat-card>
      <mat-card-title
        >Register
        <a class="redirect" [routerLink]="['/login']"
          >Already have an account?</a
        >
      </mat-card-title>
      <mat-card-content>
        <form
          fxLayout="column"
          fxLayoutAlign="start stretch"
          [formGroup]="form"
          (ngSubmit)="register()"
        >
          <mat-form-field class="full-width">
            <input
              type="text"
              id="firstName"
              class="input"
              placeholder="Please enter first name"
              formControlName="firstName"
              required
              matInput
            />
          </mat-form-field>
          <div *ngIf="formErrors.firstName" class="help is-danger">
            {{ formErrors.firstName }}
          </div>

          <mat-form-field class="full-width">
            <input
              type="text"
              id="middleName"
              class="input"
              placeholder="Please enter middle name"
              formControlName="middleName"
              matInput
            />
          </mat-form-field>

          <mat-form-field class="full-width">
            <input
              type="text"
              id="lastName"
              class="input"
              placeholder="Please enter last name"
              formControlName="lastName"
              matInput
            />
          </mat-form-field>

          <mat-form-field class="full-width">
            <input
              matInput
              readonly="true"
              placeholder="Please enter date of birth"
              [matDatepicker]="dobPicker"
              formControlName="dateOfBirth"
              (click)="dobPicker.open()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="dobPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #dobPicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Please select gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="M">Male</mat-option>
              <mat-option value="F">Female</mat-option>
              <mat-option value="O">Others</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input
              type="email"
              id="email"
              class="input"
              placeholder="Please enter your email"
              formControlName="email"
              required
              matInput
            />
          </mat-form-field>
          <div *ngIf="formErrors.email" class="help is-danger">
            {{ formErrors.email }}
          </div>
          <mat-form-field class="full-width">
            <input
              type="password"
              id="password"
              class="input"
              placeholder="please  enter your password"
              formControlName="password"
              required
              matInput
            />
          </mat-form-field>
          <div *ngIf="formErrors.password" class="help is-danger">
            {{ formErrors.password }}
          </div>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!form.valid"
          >
            Register
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- <form [formGroup]="form" (ngSubmit)="register()">
  <div fxLayout="column">
    <div class="mat-elevation-z4">
      <div>
        <mat-form-field class="example-full-width">
          <label>First Name </label>
          <input
            matInput
            formControlName="firstName"
            placeholder="First Name"
          />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <label>Last Name </label>
          <input
            matInput
            formControlName="lastName"
            placeholder="Last Name"
          />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <label>Email</label>
          <input
            matInput
            type="email"
            formControlName="email"
            placeholder="Email"
          />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <label>Password</label>
          <input
            matInput
            type="password"
            formControlName="password"
            placeholder="Password"
          />
        </mat-form-field>
      </div>

      <div>
        <mat-card-actions>
          <button type="submit" mat-button full>Register</button>
        </mat-card-actions>

        <mat-card-actions>
          <button type="reset" mat-button full>Cancel</button>
        </mat-card-actions>
      </div>
    </div>
  </div>
</form> -->
